.content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.communication__smartphone, .communication__envelope {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
  background-position: center;
  background-size: contain;
}

.communication__data, .nav__link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.communication, .nav {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.header-border {
  border: 1px solid #ececec;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-decoration: none;
  display: inline-block;
}

.content__color {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}

.current {
  color: #2196f3;
  position: relative;
}
.current::after {
  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  bottom: -1px;
}

.communication__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: #212121;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #2196f3;
}
.nav__link:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.communication__item:first-child {
  margin-right: 50px;
}

.communication__data {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
}
.communication__data:hover {
  color: #2196f3;
}
.communication__data:focus {
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */